/* Hide scrollbar for all browsers while keeping scroll functionality */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* Prevent content shift when scrollbar appears */
html {
  width: 100vw;
  overflow-x: hidden;
}

/* Fixed header styles */
.MuiAppBar-root {
  position: sticky !important;
  top: 0;
  z-index: 1200;
  width: 100% !important;
  right: 0;
  left: 0;
}
